.container
{
	padding-top: 5%;
	padding-bottom: 6%;
}

.clickable
{
	opacity: 1;
	position: relative;
	bottom: 40vh;
	z-index: -1;
	color: white;
	font-size: 2rem;
}

.imgOverlay:hover
{
	opacity: .3;
	
}

.imgOverlay
{
	-webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.contact
{
	opacity: 0.7;
}